body{
    background-color: #faf9f9;
    font-family: 'Heebo', sans-serif;
}
/* --------------- HEADER ------------ */

nav{
    background-color: white;
}
.logo{
    height: 3rem;
}
a{
    color: #F68CB9;
    text-decoration:none;
    margin: 0 1rem;
}
.banner{
    width: 100vw;
}
/* --------------- SECTION ------------ */

#contacto{
    max-width: 75%;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.8;
}
.p-footer{
    color: white;
}
h1{
    color: #F68CB9;
}
