footer{
    background-color: #3f3c91;
}
.ultimo-footer{
    width: 100vw;
    display: flex;
    align-items: center;
}
.envoltorio-iconos{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    margin-bottom: 2rem;
}
.envoltorio-iconos div{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    line-height: 1.8;
    color: white
}
.envoltorio-iconos div svg{
    margin: 15px 0;
}
